[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
folium = "*"
ipython = "*"
tabulate = "*"
seaborn = "*"
scikit-learn = "*"
python-dotenv = "*"
streamlit = "*"
pip = "*"
install = "*"
statsmodels = "*"
streamlit-tags = "*"
plotly = "*"

[dev-packages]
